
.block {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    background-size: cover;
    background-position: center;
}

.container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.title {
    margin-bottom: 10px;
    font-weight: 700;
}
