@import "../../common/styles/sass/mixins.module";

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;

    .title {
      @include text(16px, #fff);
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}


