.skillsBlock {
    background-color: mediumspringgreen;
    text-align: center;
    padding: 20px 0;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mySkills {
    background-color: darkgrey;
    font-size: 30px;
    margin-bottom: 20px;

}

.container {
    flex-direction: column;
    justify-content: center;
    padding:20px 0 ;
}