.worksBlock {
    background-color: #b8abdb;
    text-align: center;
    padding: 20px 0;
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    background-color: darkgrey;
    font-size: 30px;
    margin-bottom: 20px;

}

.container {
    flex-direction: column;
    justify-content: center;
    padding-top:20px ;
}