
.container {
  text-align: center;
  flex-direction: column;
  padding: 10px;
  background-color: #374c9f;
  color: #fff;

  .name {
    padding-bottom: 10px;
    font-weight: bold;
  }

  .icons {
    display: flex;
    min-width: 250px;
    justify-content: space-between;

  }
}


