.block{
    background: mediumspringgreen;
    padding: 20px 0;

}

.container{
    text-align: center;
    flex-direction: column;
    padding: 10px;
}
.name{
    padding-bottom:10px ;
    font-weight: bold;
}
.images{
width: 50px;
}
.icons{
    display: flex;
    min-width: 250px;
    justify-content: space-between;
}