.container {
  flex-direction: column;
  padding: 10px 0;
  background-color: #f8f9fe;

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;

    .input {
      margin-top: 5px;
    }

    .textarea {
      margin: 5px 0;
    }
    @media screen and (max-width: 412px) {
          width: 90%;
    }
  }
}

